/* You can add global styles to this file, and also import other style files */
.text-orange{
  color: var(--bs-orange);
}
.btn-primary{
  background-color: var(--bs-orange) !important;
  border-color: var(--bs-orange) !important;
}
.bought{
  opacity: .3;
}

